<div class="waraper">
  <div class="explanation"><h1>どうぶつのなまえをえらぼう!</h1></div>
  <form id="chars">
    <div class="uper_area">
      <%= image_tag @animal[:animal_image_file_name], class: 'animal_image' %>
      <input type="text" value="" id="result" class="input_form">
      <div class="erase_submit">
        <button type="button" id="erase_btn" class="form_btn erase_btn" value="">
          <%= image_tag "bunbougu_keshigomu.png", class: "eraser_img" %>
        </button>
        <input type="button" id="btn" value='こたえ' class="form_btn judge_btn">
      </div>
    </div>
      <div class="hiragana_area">
        <% @disp_hiragana.each do |hiragana| %>
          <button type="button" class="hiragana_btn" value="<%= hiragana.name %>">
            <%= image_tag hiragana.hiragana_image %>
          </button>
        <% end %>
      </div>
  </form>
  <a href="#" class="retry_btn" onclick="window.location.reload();">つぎのどうぶつ</a>
</div>

<div id="modal1" class="modal">
  <div class="modal-content">
    <div class="modal-body">
        <a class="message seikai">せいかい！ おめでとう！</a>
        <div class="modal_img">
          <%= image_tag @animal[:animal_image_file_name], class: "animal_image" %>
          <a class='animal_name'><%= @animal[:name] %></a>
        </div>
        <a href="#" class="retry_btn" onclick="window.location.reload();">つぎのどうぶつ</a>
    </div>
  </div>
</div>

<div id="modal2" class="modal">
  <div class="modal-content">
    <div class="modal-body">
        <a class="message">ちがうよ</a>
        <div class="modal_img">
          <%= image_tag 'mark_manpu13_kega.png', class: "animal_image" %>
        </div>
        <a id="back" class="retry_btn">もどる</a>
    </div>
  </div>
</div>

<input name="answer" type="hidden" value=<%= @animal[:name] %> id="answer" >