<div class="main">
  <div class="waraper">
    <form id="chars">
      <div class="uper_area">
        <div class="image-window">
          <%= image_tag @animal[:animal_image_file_name], class: 'animal_image' %>
        </div>
        <div class="content">
          <div class="explanation"><h1 id="hint">どうぶつのなまえをえらぼう!</h1></div>
          <div class="controller">
            <input type="text" value="" id="result" class="input_form">
            <div class="erase_submit">
              <button type="button" id="erase_btn" class="form_btn erase_btn" value="">
                <%= image_tag "bunbougu_keshigomu.png", class: "eraser_img" %>
              </button>
              <input type="button" id="btn" value="こたえ" class="form_btn judge_btn">
            </div>
          </div>
        </div>
      </div>
      <div class="hiragana_area">
        <% @disp_hiragana.zip(@sounds).each do |hiragana, sound| %>
          <button type="button" class="hiragana_btn" value="<%= hiragana.name %>">
            <%= image_tag hiragana.hiragana_image %>
            <%= audio_tag("#{sound.sound_file_name}", autobuffer: true) %>
          </button>
        <% end %>
      </div>
    </form>
    <button class="retry_btn" onclick="window.location.reload();">つぎのどうぶつ</button>
  </div>

  <div id="modal1" class="modal">
    <%= audio_tag("correct1.mp3", id: 'correct', autobuffer: true) %>
    <div class="modal-content">
      <p class="message seikai">せいかい！</p>
      <div class="modal_img">
        <%= image_tag @animal[:animal_image_file_name], class: "animal_image" %>
        <p class='animal_name'><%= @animal[:name] %></p>
      </div>
      <button class="retry_btn" onclick="window.location.reload();">つぎのどうぶつ</button>
    </div>
  </div>

  <div id="modal2" class="modal">
    <%= audio_tag("stupid4.mp3", id: 'mistake', autobuffer: true) %>
    <div class="modal-content">
      <p class="message">ちがうよ</p>
      <div class="modal_img">
        <%= image_tag 'mark_manpu13_kega.png', class: "animal_image" %>
      </div>
      <button id="back" class="retry_btn">もどる</button>
    </div>
  </div>
</div>
<input name="answer" type="hidden" value=<%= @animal[:name] %> id="answer" >
<input name="answer" type="hidden" value=<%= @animal[:name].length %> id="length" >
<iframe src="https://raw.githubusercontent.com/anars/blank-audio/master/500-milliseconds-of-silence.mp3" allow="autoplay" id="audio" style="display:none"></iframe>