<!DOCTYPE html>
<html>
  <head>
    <title>ひらがなどうぶつ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">

  </head>

  <body>
    <header>
      <div class="waraper">
        <h1 class="h1"><i class="fas fa-pencil-alt"></i>ひらがなどうぶつ</h1>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
