<!DOCTYPE html>
<html>
  <head>
    <title>ひらがなどうぶつ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">

  </head>

  <body>
    <header>
      <div class="waraper">
        <div>
          <h1 class="h1"><i class="fas fa-pencil-alt"></i>ひらがなどうぶつ</h1>
          <%= audio_tag("colorful.mp3", id: "bgm", autoplay: true, autobuffer: true, loop: true, muted: true) %>
        </div>

        <div class="sound">
          <i class="fas fa-music"></i>
          <button type="button" id="enable_sound">あり</button>
          <button type="button" id="mute_sound">なし</button>
        </div>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
